export NOVNC_PORT="42903"
export CONNECTION_STRING="https://ood-test.delta.ncsa.illinois.edu/rnode/cn093.delta.internal.ncsa.edu/42903/vnc.html?autoconnect=true&port=42903&host=ood-test.delta.ncsa.illinois.edu/rnode/cn093.delta.internal.ncsa.edu/42903&password=qYRjgEAx"
export DISPLAY=":0"
export XAUTHORITY="$TMPDIR/.Xauthority"
export ICEAUTHORITY="$TMPDIR/.ICEauthority"
export SESSION_MANAGER="local/cn093.delta.ncsa.illinois.edu:@/tmp/.ICE-unix/2630435,unix/cn093.delta.ncsa.illinois.edu:/tmp/.ICE-unix/2630435"
export password="qYRjgEAx"
export hostname="cn093.delta.ncsa.illinois.edu"
export port="42903"
