export NOVNC_PORT="42903"
export CONNECTION_STRING="https://mgportal.ncsa.illinois.edu/rnode/mg002.internal.ncsa.edu/42903/vnc.html?autoconnect=true&port=42903&host=mgportal.ncsa.illinois.edu/rnode/mg002.internal.ncsa.edu/42903&password=qYRjgEAx"
export DISPLAY=":0"
export XAUTHORITY="$TMPDIR/.Xauthority"
export ICEAUTHORITY="$TMPDIR/.ICEauthority"
export SESSION_MANAGER="local/mg002.internal.ncsa.edu:@/tmp/.ICE-unix/2630435,unix/mg002.internal.ncsa.edu:/tmp/.ICE-unix/2630435"
export password="qYRjgEAx"
export hostname="mg002.internal.ncsa.edu"
export port="42903"
